[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
scikit-image = "*"

[dev-packages]
sphinx = "*"
furo = "*"
rstcheck = {extras = ["toml", "sphinx"], version = "*"}
pycodestyle = "*"
mypy = "*"
pytest = "*"
isort = "*"
tox = "*"
wheel = "*"
build = "*"
twine = "*"
matplotlib = "*"
pjimg = {file = ".", editable = true}
types-pillow = "*"

[requires]
python_version = "3.12"
