[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"

[dev-packages]
sphinx = "*"
furo = "*"
pycodestyle = "*"
mypy = "*"
rstcheck = {extras = ["sphinx"], version = "*"}
pytest = "*"
isort = "*"
tox = "*"
wheel = "*"
build = "*"
twine = "*"
pjimg = {file = ".", editable = true}

[requires]
python_version = "3.12"
