[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
furo = "*"
pycodestyle = "*"
mypy = "*"
rstcheck = {extras = ["sphinx"], version = "*"}
pytest = "*"
isort = "*"
tox = "*"
wheel = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.12"
